<%- include('./partials/header') %> 
<div class="container">
    <h1>
        Vendor List.
    </h1>
    <% for(vendor of vendors){ %>
        <div class="card">
            <div class="card-header">
                <%= vendor.name %> 
            </div>
            <div class="card-body">
                <h5 class="card-title"><%= vendor.storeName %></h5>
                <p class="card-text">Address - <%= vendor.address %></p> <p>Phone - <%= vendor.phone %></p>
                <a href="/view-vendor/<%= vendor._id %>" class="btn btn-primary">View Vendor</a>
            </div>
        </div>
        <% } %> 
</div>

<%- include('./partials/footer') %> 